body {
    background-color: #38393b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .App {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
  }
  
  .App header {
    background-color: #0e0e0e;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
    filter: opacity(0.5);
    border: 2px solid wheat;
 
}
  .App header:hover{
    background-color: #0e0e0e;
  }
  
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/564x/e8/23/cf/e823cf68fc536919c9c7f1ba21075d67.jpg");
    background-color: rgb(31, 30, 33);
   background-repeat: no-repeat;
   background-size: cover;
  }
  
  main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #88868f;
  }
  
  form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: tra;
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    width: 20%;
    background-color: transparent;
  }
  
  
  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    outline: none;
    border: 2px solid whitesmoke;
    padding: 0 10px;
    opacity: 0.6;
    border-radius: 32px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  button {
    background-color: #282c34; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 32px;
  }
  button:hover{
    cursor: pointer;
    color: white;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .send{
    background-color: #009f10;
    
  }
  
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #171717;
    align-self: flex-end;
    filter: opacity(0.8);
    /*  */
  }
.sent p:hover{
filter: blur(0px);
cursor: grab;
transition: 0.5s ease-in-out;

}

  .received p {
    background: #e5e5ea;
    color: black;
    filter: blur(2px);
  }
  .received p:hover{
    filter: blur(0px);
cursor: grab;
transition: 0.25s ease-in-out;
  }
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
  